.nav-gd{
    height: 8vh;
    background: #5271ff;
    position: relative;
    display: flex;
    justify-content: center;
    
}
.container-h1{
    background: #5271ff;
    position: absolute;
    text-align: center;
    width: 15vw;
    height: 9vh;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;    
}
h1{
    padding-top: 3vh;
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 25px;
}
.log-in{
    width: 5vh;
    height: 5vh;
    position: absolute;
    right: 1vw;
    top: 1.5vh;
    border-radius: 50%;
    border: none;
    padding: 0;
}

/* style of Ionicons */
ion-icon{
    font-size: 50px;
    color: rgb(197, 197, 197);
    margin: -4px ;
}